#flex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

#box1{
  position: relative;
}

h1{
  font-size: 50px;
  font-style: italic;
  text-align: center;
  align-content: center;
  width: 100%;
}

#box2{
  margin: auto;
  border: 4px;
  margin-left: auto;
}

button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: gray;
  border: none;
  border-radius: 15px;
}

button:hover {background-color: wheat}
button:active {
  transform: translateY(4px);
}



