*{
	padding: 0px;
	margin: 0px;
	box-sizing:border-box;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font-family: serif;
}

a{
	color:bisque;
	text-decoration:none;
}
a:hover{
	color:bisque;
}
a:link{
	color:bisque;;
}

h1{
	font-size: 38px;
	font-family:cinzel;
	text-align: center;
	margin: 12px;
}

#cta{
	width: 250px;
	height: 50px;
	margin: 20px;
	border-radius: 30px;
	background-color: dimgrey;
	color: bisque;
	font-size: 120%;
	box-shadow: 0 2px #999;
	border: none;
	cursor:pointer;
	transition-duration: 0.8s;
	position: absolute;
	left: 20%;
		
}#cta:active{
	box-shadow: :0px 0px #999;
	transform:translateX(3px);
}

#cta1{
	width: 150px;
	height: 50px;
	margin: 20px;
	border-radius: 30px;
	background-color: #2E2E2E;
	color: bisque;
	font-size: 120%;
	box-shadow: 0 2px #999;
	border: none;
	cursor:pointer;
	transition-duration: 0.8s;
	position: relative;
	left: 11px;
	top:25px;
	
	
}#cta1:active{
	box-shadow: :0px 0px #999;
	transform:translateX(3px);
}


.caption{
	height: 260px;
}

img{
	width: 70%;
	height: 450px;
	padding: 20px;
	position: relative;
	left: 15%;
	border-radius: 20px;
}

.col-md-4{
	background-color:#2E2E2E;
    height: auto;
	width: auto;
	margin: 30px;
	padding: 20px;
	
}

#bilInfor{
	margin:10px;
	font-size: 20px;
	position: relative;
	left: 220px;
}

.thumbnail{
	background-color: #999;
	color: bisque;
	margin-top: 20px;
	box-shadow: 0px 10px 17px black ;
	border: none;
	height: auto;
}

a:link, a:visited {
	color:bisque;
	text-decoration:none;
	text-align: center;
}
a:hover{
	color:bisque;
	
}

.thumbnail:hover{
	background-color:#2E2E2E;
	color: bisque;
}

.lead{
	color:svart;
	font-size:20px; 
	font-weight:600; 
	text-align: center;
}

body{
	background-color: gainsboro;
}

















