head
    title Ansökning
    link(rel='stylesheet', href='/stylesheets/style2.css')
body
  div(id="flex2") 
    div
      input(type="button", value="tillbaka", id="tillbaka", onclick="window.location.href='http://localhost:3000/'")
  div(id="flex")
    div(id="box1")
      
      h1 Kundinformation
    div(id="box2")
      form
        p Email
        input(id="email", type="text",)
        p Förnamn
        input(id="fornamn", type="text")
        p Efternamn
        input(id="efternamn", type="text")
        p Telefonnummer
        input(id="tlf", type="text")
        p Körkortsnummer/personnummer
        input(id="personnummer", type="text")
        p Land
        select
          option(value="Sverige")
            p Sverige
          option(value="Norge")
            p Norge
          option(value="Danmark")
            p Danmark
          option(value="Finland")
            p Finland
        button Bokning
        
      