head
  title Kvitto
  link(rel='stylesheet', href='/stylesheets/style2.css')
body
  div(id="flex2") 
    div
      input(type="button", value="tillbaka", id="tillbaka", onclick="window.location.href='http://localhost:3000/'")
  div(id="flex")
    div
      h1 Tack för din bokning!
      p Fordonstyp:
      p Brand:
      p Model:
      p Year:
      p Dagshyra:
      p Fuel:
      
    