
html
  head
    title Ahlssons bil
    link(rel='stylesheet', href='/stylesheets/style.css')
body
  div(id="flex")
    div(id="box1")
      h1 Välkommen till Ahlssons bilar
    div(id="box2")
      form
        input(type="button", value="Bokning", id="bokning", onclick="window.location.href='http://localhost:3000/bokning'") 
        input(type="button", value="Admin", id="admin") 
